@model Models.ViewModel.WeaponViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Client/css/ProductDetail.css" rel="stylesheet">
<div class="container bootdey">
    <section class="panel">
        <div class="row">
            <div class="col-md-5">
                <div class="pro-img-details">
                    <img src="@Model.Image" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="pro-d-title">
                    @Model.NameWea
                </h4> 
                <p>
                    @Model.Description
                </p>
                <div class="product_meta">
                    <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">@Model.WeaponClass</a></span>
                    <span class="posted_in"> <strong>Ammunition/Capacity:</strong>@Model.Ammunition</span>
                    <span class="posted_in"> <strong>Reload Time:</strong>@Model.Reloadtime s</span>
                </div>
                <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price">$ @Model.Price </span></div>
                <p>
                    <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                </p>
            </div>
        </div>
    </section>
</div>
